{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="../../static/css/new.css">
{% endblock link %}
{% block contant %}
    <div class="welcome">
        Hello! Welcome to our Website...
    </div>
    <form action="#">
        <div class="login">
            <p>Please enter your e-mail address and contact number...</p>
            
                <div class="login-input login1">
                    <input type="text" placeholder="E-mail">
                </div>
                <div class="login-input login2">
                    <input type="text" placeholder="Contact Number">
                </div>
                
                <button class="submit">submit</button>
        </div>
    </form>
{% endblock contant %}